<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/apple-touch-icon-precomposed.png" >
	<title>出错啦!!!!</title>
	<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://www.bootcss.com/p/buttons/css/buttons.css">
	<style type="text/css">
		body{
			width: 100%;
			height: 100%;
			padding: 0px;
			margin: 0px;
		}
	</style>
</head>
<body>
	<nav class="navbar" style="margin-bottom: 20px ;">
		<div class="col-sm-6 col-sm-offset-3" style="">
			<div >
				<img style="margin: 0px auto;display: block; ;" src="/img/404.png"  class="img-responsive" alt="...">
			</div>
		</div>
	</nav>
	<nav class="navbar" >
		<div class="col-sm-6 col-sm-offset-3" style="">
			<p class="text-warning" style="text-align: center;">熊孩子，打哪儿来回哪儿去，这不是你该来的地方</p>
		</div>
	</nav>
</body>
</html>